<!--

Thanks for dropping by, welcome to the blog!
-whoisrealminjueun


uQgZgZDZDZDEgQ XMgQ.7RDZgEDDQ JQMZgZDDQ dgMD ERgD ggDEgEDgX QgR2 QMMu QDDZgEgMY QDDEgEgQu     
QBBBBBBBQBBBBB BQBB.5BBBBBQBQ.BBBBBBBBQ BBBB BBBB BBBBBBBBB BBBB BBBQ BBBBBBBBE BBBBBBBBR     
PQBQuPBQBrBBBB QBBB YBBBLEBQB .v7rrBBBB BBBB BBBB BBBBrBBQM BBBd QBBq BBBgvBBB2 BBBPuBBBP     
qBBB iQBB dBBB RBBB 7BBB vBBQ rgEg gQBB QBBB BQBB BBQB BBBZ BBBd BBBS BBBu BBBu BBBi BBBq     
PBBB.7BBB gQBB MBQB vBBB sBQB qBBB gBBB BQBB BBBB BBBB BBBg BBBP QBBX BBB2 BBBU BBB7.BBBP     
KBBB.7BBQ gBBB RBBB 7BQB JBBB UBBB MQBB QBBB BBBB BBBB BBBD BBBd BQB5 BBBS BQB1 BBBv BBBK     
PQBB.7BBB gBBB gBBB vBBB sBBB 2BBB gBBB BBBB BBBB BBBB BBBg BBBP BBQK BBBI BBB2 BBB7.BBBP     
KBBB.7BBB DBBB MBBB 7BQB jQBB UBBB RBBB QBBB BQBQ BBBB BBBD BBBE BBB5 BBQS BBB1 BBBv BBBq     
PQBQ.7BBB gBBB gBBB LBBB JBBB 2BBQ gBBB BQBB BBBB BBBB QBBg BBBP QBBK BQBI BBB2 BBB7.BBBP     
qBBB vBBB gBBB RBBQ vBBB uBBB 1BBB MBBB QBBB BBBB BBBB BBBZ BBBd BBB5 BBB5 BBB1 BBBv BQBK     
PBBQ.7BBB gBBB gBBB vBBB sBBB 2QBB gBBB BBBB BBBB BBBB BBBg BBBP BBBK BBBI BBQ2 BBB7.BBBP     
qBBB.7QBB DBBB RBBB 7BBB uBBQ 1BBB RBBB QBBB BBBB BBBB BBBZ BBBb BBBS QBBS BBBu BBBv BBBq     
PBBB.7BBB MBBB MBBB LBBB JBBB 2BBB gBBB BBBB QBBB BBBB BBBg BBBP BBBK BQBI BBB2 BBB7.BBQP     
qBBB.vBBQ DBQB RBBB 7BBB JBBB 1BBB MBBB QBBB BBBB BBBB BQBZ BBBE BBB5 BBBS BBB1 BBB7 BBBq     
PQBB.7BBB gBBB gBQB vBBQ sBBB 2BBB gBBB BBBB BBBB BQBQ BBBD BQBP BBBX BBB5 BBB2 BBB7.BBBP     
qBBB 7BBB DBBB RQBQ vBBB uBBB 1BQB RBBB QBBB BBBQ BBBB BQBD BBBb BBBS BBB5 BQBu BBBv BBBK     
PBBB.7BBB MBBB gBBB LBBQ sBBB IBBB gBBB BBBB BBBB BBBQ QBBB BBBP BBQK BBBI BBB2 BBBr BBBb     
qBBB 7QBB gBBB RBBB vBBB JQBB UBBB MBBB QBBB BBBB BBQB ir7: BBBE BQBS QBQS BBBS ri:.rBBBD     
PBBB.7BBB gBBB MBQB LBBB JBBB 2BBQ gBBB QQBB BBBB BBBQBRQQK BBBP BBBX BQBI QBB2 BQBBBBBB:     
qBBB.7BBB gBBB RBBQ vBBB JBBB UBBB gBBB QBBB BBBB BBBBBBQBQ BBBP BBBS BBBS BBBI BQMBBBg.     
PBBB.7BQB RBBB MBBB LBBB JBBB IQBB.MBBB BBBQ BBBB BQBQi::i. BBBb.QBBq BBBS BBBX vr7:          
ZBBB.uBBB QBQB BBBB.uBBB XBBQ PBBBBBBBB QBBBQBBBB BBBBBBBBQ BBBBQBBBE BBBE BBBK.BBBB          
gBBB:UBQB BBBQ BBQB.5BBB.qBQB.EBBBBQB1B  BBBBBBBBB BBBBBBBBB BBBBBBBBg BBBZ.BBBb.BQBB

+ that is Just whipped up my logo in ASCII art, you feel me?
-->


<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% seo %}
{% if site.keywords or page.tags %}
<meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ','}}{% else %}{{ site.keywords | join: ',' }}{% endif %}" />
{% endif %}
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
<link rel="icon" type="image/png" href="/assets/images/favicon.png">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/base.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/highlight.css" />

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="{{ site.baseurl }}/assets/script/jekyllpaper.js" async ></script>
