<style>
  .header-info h6 {
    font-size: 8px; 
    white-space: nowrap;
    cursor: pointer; 
  }

  
  @media only screen and (max-width: 760px) {
    .header-info h6 {
      font-size: 6px; 
    }

  @media only screen and (max-width: 320px) {
    .header-info h6 {
      font-size: 4px;
    }
  }
</style>

<div class="header-info">
  <h6 id="homeLink">                                                                                              
      uQgZgZDZDZDEgQ XMgQ.7RDZgEDDQ JQMZgZDDQ dgMD ERgD ggDEgEDgX QgR2 QMMu QDDZgEgMY QDDEgEgQu     <br>
      QBBBBBBBQBBBBB BQBB.5BBBBBQBQ.BBBBBBBBQ BBBB BBBB BBBBBBBBB BBBB BBBQ BBBBBBBBE BBBBBBBBR     <br>
      PQBQuPBQBrBBBB QBBB YBBBLEBQB .v7rrBBBB BBBB BBBB BBBBrBBQM BBBd QBBq BBBgvBBB2 BBBPuBBBP     <br>
      qBBB iQBB dBBB RBBB 7BBB vBBQ rgEg gQBB QBBB BQBB BBQB BBBZ BBBd BBBS BBBu BBBu BBBi BBBq     <br>
      PBBB.7BBB gQBB MBQB vBBB sBQB qBBB gBBB BQBB BBBB BBBB BBBg BBBP QBBX BBB2 BBBU BBB7.BBBP     <br>
      KBBB.7BBQ gBBB RBBB 7BQB JBBB UBBB MQBB QBBB BBBB BBBB BBBD BBBd BQB5 BBBS BQB1 BBBv BBBK     <br>
      PQBB.7BBB gBBB gBBB vBBB sBBB 2BBB gBBB BBBB BBBB BBBB BBBg BBBP BBQK BBBI BBB2 BBB7.BBBP     <br>
      KBBB.7BBB DBBB MBBB 7BQB jQBB UBBB RBBB QBBB BQBQ BBBB BBBD BBBE BBB5 BBQS BBB1 BBBv BBBq     <br>
      PQBQ.7BBB gBBB gBBB LBBB JBBB 2BBQ gBBB BQBB BBBB BBBB QBBg BBBP QBBK BQBI BBB2 BBB7.BBBP     <br>
      qBBB vBBB gBBB RBBQ vBBB uBBB 1BBB MBBB QBBB BBBB BBBB BBBZ BBBd BBB5 BBB5 BBB1 BBBv BQBK     <br>
      PBBQ.7BBB gBBB gBBB vBBB sBBB 2QBB gBBB BBBB BBBB BBBB BBBg BBBP BBBK BBBI BBQ2 BBB7.BBBP     <br>
      qBBB.7QBB DBBB RBBB 7BBB uBBQ 1BBB RBBB QBBB BBBB BBBB BBBZ BBBb BBBS QBBS BBBu BBBv BBBq     <br>
      PBBB.7BBB MBBB MBBB LBBB JBBB 2BBB gBBB BBBB QBBB BBBB BBBg BBBP BBBK BQBI BBB2 BBB7.BBQP     <br>
      qBBB.vBBQ DBQB RBBB 7BBB JBBB 1BBB MBBB QBBB BBBB BBBB BQBZ BBBE BBB5 BBBS BBB1 BBB7 BBBq     <br>
      PQBB.7BBB gBBB gBQB vBBQ sBBB 2BBB gBBB BBBB BBBB BQBQ BBBD BQBP BBBX BBB5 BBB2 BBB7.BBBP     <br>
      qBBB 7BBB DBBB RQBQ vBBB uBBB 1BQB RBBB QBBB BBBQ BBBB BQBD BBBb BBBS BBB5 BQBu BBBv BBBK     <br>
      PBBB.7BBB MBBB gBBB LBBQ sBBB IBBB gBBB BBBB BBBB BBBQ QBBB BBBP BBQK BBBI BBB2 BBBr BBBb     <br>
      qBBB 7QBB gBBB RBBB vBBB JQBB UBBB MBBB QBBB BBBB BBQB ir7: BBBE BQBS QBQS BBBS ri:.rBBBD     <br>
      PBBB.7BBB gBBB MBQB LBBB JBBB 2BBQ gBBB QQBB BBBB BBBQBRQQK BBBP BBBX BQBI QBB2 BQBBBBBB:     <br>
      qBBB.7BBB gBBB RBBQ vBBB JBBB UBBB gBBB QBBB BBBB BBBBBBQBQ BBBP BBBS BBBS BBBI BQMBBBg.      <br>
      PBBB.7BQB RBBB MBBB LBBB JBBB IQBB.MBBB BBBQ BBBB BQBQi::i. BBBb.QBBq BBBS BBBX vr7:          <br>
      ZBBB.uBBB QBQB BBBB.uBBB XBBQ PBBBBBBBB QBBBQBBBB BBBBBBBBQ BBBBQBBBE BBBE BBBK.BBBB          <br>
      gBBB:UBQB BBBQ BBQB.5BBB.qBQB.EBBBBQB1  BBBBBBBBB BBBBBBBBB BBBBBBBBg BBBZ.BBBb.BQBB     <br>  


         . . . . . . . . . . ,   . . . . . . . . . ,   . . . . . .   , . .   , . ,   . . . . . .   , . ,   . . .   . . . . . .   , . . . . . .     <br>    
         ;BgBgBgBgBgBQBgBgBgBQ ,BQBgBg ;BgBgBQBgBgBgn BQBgBQBgBgBgB  gBQBgB 9gBQBg  BgBgBgBgBQBgB :gBQBg, BgBgBg ,BgBgBgBgBgBgB JgBgBgBgBgBgB;       <br>  
         vgBgBgBgBgBgBgBQBgBgB ,gBgBgi ;QBQBgBgBgBQB. gBgBgBQBgBgBg  BgBgB: ,BgBgB  QBgBgBgBgBgBQ  BgBgB  QBgBQB ,gBgBgBQBQBgB: .BQBQBgBgBgBgv       <br>  
         ,BgBgBg,gBgBQB BQBgBg  BgBgB, ,BgBgB.BgBgBg7 ;,;,;.BgBgBgB  QBgBgi ;gBgBg  BgBgBg,gBgBQB  gBgBg  BQBgBg  BgBgBg,gBgBQo :gBgBg,gBgBgB,       <br>  
         ;gBgBg  BgBQB  gBgBQB .gBgBgi ;QBgBg  BgBgB.        .gBgBQ  BgBgB: ,BgBgB  QBgBg, 7gBgBg  BgBgB  gBgBgB ,gBgBQ  BgBgB: .BgBgB  gBgBg;        <br> 
         ,BgBQB  QBQBg  BgBgBg  BgBgB: ,BgBgB  gBgBQ: BgBgBg  BgBgB  QBgBgi ;gBgBg  BQBgB. ,BgBgB  gBgBg  BgBgBg  BgBQB  QBgBgJ :gBgBg  BgBgB,         <br>
         ;gBgBg  BQBgB  gBgBgB .gBgBQo ;gBgBg  BgBgB. gBgBgB .gBQBg  BQBgB: ,BgBgB  gBgBg; ogBgBg  BgBgB  gBgBgB ,gBQBg  BgBgB: .BQBgB  gBgBg;         <br>
         ,BgBgB  gBgBQ  BgBgBg  BQBQB, ,BgBgB  QBgBg, BgBgBQ  BgBgB  gBgBgi ;gBQBg  BgBQB, :BQBgB  QBgBQ  BgBQBg  BgBgB  QBgBgJ :gBgBQ  BgBQB,         <br>
         ;gBQBg  BgBgB  gBgBgB .gBgBQi ;gBgBg  BgBgB. QBgBgB .gBgBg  BgBgB: ,BgBQB  QBgBQ; JgBQBQ  BQBgB  gBgBQB ,gBgBg  BQBgB: .BgBgB  gBgBg;         <br>
         .BgBgB  gBgBg  BgBQBg  BgBgB: .BgBgB  gBgBg: BgBgBQ  BQBgB  gBQBgi ;gBgBQ  BQBQB, :BgBQB  gBgBg  BQBgBg  BQBgB  gBgBgJ :QBgBQ  BgBgB,         <br>
         ;gBgBg  BgBgB  gBQBQB .QBgBgi ;gBgBg  BgBgB. gBQBgB .gBgBg  BgBgB: ,BgBgB  gBgBg; ogBgBQ  BgBgB  gBQBgB ,gBgBQ  BgBgB: .BgBgB  gBgBg;         <br>
         .BgBgB  gBgBg  BgBgBQ  BgBgB: .BgBgB  gBgBg: BgBgBg  BgBgB  gBgBgo ;gBgBg  BQBgB, :BgBgB  gBgBg  BgBgBg  BgBQB  QBgBgo :gBgBg  BgBgB,         <br>
         ;gBQBg  BgBgB  gBgBgB .gBgBgi ;gBgBg  BgBgB. gBgBgB .gBgBg  BgBgB, ,BgBgB  gBgBg; JgBgBg  BgBQB  gBgBgB ,gBgBQ  BgBQB: .BgBgB  gBgBg;         <br>
         ,BQBgB  gBgBg  BgBgBg  BgBgB: ,BgBgB  gBgBg, BQBgBg  BgBQB  gBgBgi ;gBgBg  BgBgB, :BgBgB  gBQBg  BgBQBg  BgBgB  gBgBQJ :gBgBg  BgBgB,         <br>
         ;gBgBg  BQBQB  gBgBQB .gBQBgi ;gBQBg  BgBgB. gBQBgB .QBgBg  BgBgB: ,BgBQB  gBgBQ; JgBgBg  BgBgB  gBgBgB ,gBQBg  BQBgB: .BgBgB  gBgBg;         <br>
         ,BgBQB  gBgBg  BQBgBg  BgBgB: ,BgBgB  QBQBg: BgBgBg  BgBQB  gBgBgi ;gBQBg  BgBgB, :BgBgB  gBgBg  BgBgBg  BgBgB  gBgBgJ :gBgBg  BgBgB,         <br>
         ;gBgBQ  BQBgB  gBQBgB .gBgBgi ;gBgBQ  BgBgB. gBgBgB .gBgBg  BgBQB: ,BgBgB  QBgBg; JgBgBg  BgBgB  gBgBgB ,gBgBg  BgBgB: .BgBgB  gBgBg;         <br>
         ,BgBQB  gBgBg  BgBgBg  BgBQB, .BgBQB  QBgBQ: BgBgBg  BgBgB  gBgBgi ;gBgBg  BgBgB, :BgBgB  gBgBg  BgBgBQ  BgBgB  QBgBQJ :gBgBg  BgBgB,         <br>
         ;gBgBg  BgBgB  gBgBgB .gBgBQi ;gBgBQ  BQBgB. gBgBgB .gBgBg  BgBgB: ,BgBgB  gBgBg; oQBgBg  BgBgB  gBgBQB ,gBgBg  BgBgB: .BgBQB  QBQBQ;         <br>
         ,BgBgB  gBgBg  BgBQBg  BgBQB: .BgBgB  gBgBg: BgBgBg  BgBQB  QBgBgi ;gBgBg  BQBgB, :BQBQB  gBgBg  BgBQBg  BgBgB  gBgBQo :QBgBg  BgBgB,         <br>
         ;gBgBg  BgBgB  gBQBgB .gBQBgi ;gBQBg  BgBgB. gBgBgB .gBgBg  BgBgB: ,BgBgB  gBgBg; ogBgBg  BgBgB  gBQBgB ,gBgBQ  BgBgB: .BgBgB  gBgBQ;         <br>
         ,BgBgB  gBgBg  BgBgBg  BgBgB: .BgBgB  gBgBg, BgBgBg  BgBQB  gBgBgi ;gBgBg  BgBgB, :BgBQB  gBgBg  BgBgBg  BgBQB  gBgBgo :gBgBg  BgBgB,         <br>
         ;QBQBg  BgBgB  gBgBgB .gBQBgi ;QBgBg  BgBgB. gBgBgB .QBgBg  BQBgB: ,BgBgB  gBgBg; ogBgBQ  BgBgB  gBgBgB ,gBgBg  BgBgB: .BgBgB  gBgBg;         <br>
         .BgBgB  gBgBg  BgBgBg  BgBgB: ,BgBgB  gBgBg: BgBgBg  BgBQB  gBgBgi ;gBgBg  BgBgB, :BgBgB  gBgBg  BgBgBg  BQBgB  gBgBgo :gBgBg  BgBgB,         <br>
         ;gBQBg  BgBQB  gBgBQB .gBQBgi ;QBgBg  BgBgB. QBgBgB .gBgBg  BQBgB, ,BgBQB  gBgBg; ogBQBQ  BgBgB  gBgBgB ,QBgBQ  BgBQB: .BgBgB  gBgBg;         <br>
         ,BgBQB  gBgBg  BgBgBg  BQBgB: ,BQBgB  gBgBQ: BgBgBg  BgBgB  gBQBgo ;gBgBg  BQBgB. gBgBgB .gBgBg  BQBgBg  BgBgB  gBgBgJ ;gBgBQ  BQBgB,         <br>
         ;QBgBg  BQBgB  gBgBgB .gBgBgi ;gBgBg  BQBgB. gBgBgB .gBgBg  BgBgB, ,BQBgB  gBgBg:         BgBgB  QBQBgB ,gBQBg  BQBgB:         QBgBQ;         <br>
         ,BgBgB  gBgBg  BgBQBg  BgBgB: ,BgBgB  gBgBg: BgBgBg  BgBgB  QBgBgo ;gBgBg  BgBgBQ.     . .QBgBg  BgBQBQ  BgBgB  gBgBgJ :gBgBgBgBgBgB          <br>
         ;gBgBg  BgBQB  gBgBgB .QBgBQi ;QBQBg  BgBgB. gBQBgB .QBgBg  BQBgB, ,BgBgB  gBgBgBgBgBgBQ  BgBQB  gBgBgB ,gBgBg  BQBgB: ,BgBgBgBgBgBg          <br>
         ,BgBgB  gBgBg  BgBgBg  BQBgB, .BgBgB  QBgBg: BgBgBg  BgBQB  gBgBQv ;gBgBg  BgBgBgBgBgBgB .gBQBg  BgBgBg  BgBgB  gBgBQJ ogBgBQBgBgB            <br>
         ;gBgBg  BgBgB  gBgBgB .gBgBQi ;gBgBg  BgBgB. gBgBgB  gBgBg  BgBgB. .BQBgB  gBgBgB   . ..  BgBgB  gBgBgB ,QBgBQ  BgBgB:                        <br>
         ,BgBQB  gBgBg  BQBgBg  BgBgB, .BgBgB  gBgBg, BQBgBg  BgBgB  gBQBQB BgBgBQ  BgBgBg        .gBgBg. BQBgBg  BgBgB  gBgBgo :,:.:,                 <br>
         ;gBgBg  BgBgB  gBgBgB .gBgBQv ;gBgBg  BgBgB. gBgBgBgBgBgBg  BgBgBQBgBgBgB  gBgBQBgBgBgBg  BgBgBgBgBgBQB ,gBgBg  BgBgB, 7BQBgB                 <br>
         :BgBgB  gBgBg. BgBQBg .BgBQBQ :BgBQB  gBQBg; BgBgBgBQBQBg   gBQBgBgBgBgBQ  BgBQBgBQBgBgB .gBgBQBgBgBgBg .BgBQB  gBgBgB JgBgBg                 <br>
         vgBgBg  BQBgB  QBgBgU :gBgBQo vgBgBg  BgBgB, 7BgBgBgB:;     BgBgBgBQBgBgB  gBgBgBgBgBgBg  BgBgBgBgBgBg2 :gBgBg  BgBgB: :BgBgB             <br>
  </h6>
  <span class="header-info-desc">{{ site.description }}</span>
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
    {% for item in site.data.menus %}
      <li class="header-main-nav-item"><a href="{% if item.absoluteUrl != true %}{{ site.baseurl }}/{% endif %}{{ item.url }}">{% if item.default %}{{ site.data.lang[site.language][item.default] }}{% else %}{{ item.title }}{% endif %}</a></li>
    {% endfor %}
  </ul>
</nav>

<script>
  // JavaScript 이벤트 리스너 추가
  document.getElementById("homeLink").addEventListener("click", function() {
    window.location.href = "{{ site.baseurl }}/";
  });
</script>
