@charset "utf-8";

/* for specific category page */

.category-title {
  text-align: center;
}{      color: white;
    }

.category-list {
  line-height: 24px;
}
{      color: white;
    }


/* for categories page */
.categories-title {
  text-align: center;
}
{      color: white;
    }

.categories-list {
  line-height: 24px;
}
{      color: white;
    }
