<style>
  .container-post {
    margin-top: 20px;
  }

  .post-title,
  .post-content,
  .post-info,
  .post-date,
  .post-categories {
    text-align: left;
  }

  .post-info {
    color: #555;
    margin-top: 10px;
  }

  .post-date,
  .post-categories {
    margin-bottom: 10px;
  }

  .post-categories {
    margin-bottom: 20px;
    color: #555;
  }

  .post-category {
    margin-right: 10px;
  }

  .post-separator {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none;
  }
</style>

<script>
  const omitformtags = ["input", "textarea", "select"];

  const disableselect = (e) => {
    if (omitformtags.includes(e.target.tagName.toLowerCase())) {
      return false;
    }
  };

  const reEnable = () => true;

  if (typeof document.onselectstart !== "undefined") {
    document.onselectstart = new Function("return false");
  } else {
    document.onmousedown = disableselect;
    document.onmouseup = reEnable;
  }

  // Function to scroll to the top of the page
  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  };

  // Show/hide the scroll-to-top button based on scroll position
  window.onscroll = () => {
    const scrollButton = document.querySelector('.scroll-to-top');
    scrollButton.style.display = document.body.scrollTop > 20 || document.documentElement.scrollTop > 20
      ? "block"
      : "none";
  };

  function redirectToCategories() {
    window.location.href = "https://whoisrealminjueun.netlify.app/categories/";
  }
</script>

<article class="container-post">
  <div class="post-title">
    <h1>{{ page.title }}</h1>
    <hr>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="post-info">
    <div class="post-date">
      {{ site.data.lang[site.language].post_write_date }}{{ page.date | date: "%Y-%m-%d" }}{% if page.last_modified_at %}, {{ site.data.lang[site.language].post_update_date }}{{ page.last_modified_at | date: "%Y-%m-%d" }}{% endif %}.
    </div>

    <div class="post-categories">
      <span>{{ site.data.lang[site.language].post_categories }}</span>
      {% for category in page.categories %}
        <a href="{{ site.baseurl }}/category/{{ category | slugify }}" class="post-category" onclick="redirectToCategories()"> {{ category }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="post-separator"></div>


</article>
