---
layout: default
---

<style>
  .container-post {
    /* Add other styles as needed for the post container */
  }

  .post-categories {
    margin-bottom: 20px; /* Adjust the margin as needed */
  }

  .post-navigation {
    display: flex;
    justify-content: center; /* Center the navigation items horizontally */
    margin-top: 20px; /* Add margin at the top as needed */
  }

  .post-previous,
  .post-next {
    margin: 0 10px; /* Adjust the margin between previous and next links */
  }

  .post-previous {
    order: 1; /* Order previous link to be first */
  }

  .post-next {
    order: 2; /* Order next link to be second */
  }
  
  .post-previous,
  .post-next {
    margin: 0 10rem 0 0; /* 오른쪽 여백을 10rem으로 설정 */
    white-space: nowrap; /* 글자가 줄바꿈되지 않도록 설정 */
    overflow: hidden; /* 넘치는 부분은 감추기 */
    text-overflow: ellipsis; /* 넘치는 부분은 '...'로 표시 */
    width: 15rem; /* 박스 크기를 조절하여 글자가 줄바꿈되지 않도록 함 */
  }
</style>


</style>

<article class="container-post">
  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="post-author">
    <span>{{ site.name }}</span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  <div class="post-info">
    <div class="post-date">
      {{ site.data.lang[site.language].post_write_date }}{{ page.date | date: "%Y-%m-%d" }}{% if page.last_modified_at %}, {{ site.data.lang[site.language].post_update_date }}{{ page.last_modified_at | date: "%Y-%m-%d" }}{% endif %}.
    </div>
    <div class="post-categories">
      <span>{{ site.data.lang[site.language].post_categories }}</span>
      {% for category in page.categories %}
        <a href="{{ site.baseurl }}/category/{{ category | slugify }}" class="post-category" onclick="redirectToCategories()"> {{ category }}</a>
      {% endfor %}
    </div>
    <script>
      function redirectToCategories() {
        window.location.href = "https://whoisrealminjueun.netlify.app/categories/";
      }
    </script>
    <div class="post-tools">
      <div class="post-navigation">
        {% if page.previous %}
          <div class="post-previous">
            <span>{{ site.data.lang[site.language].post_previous }}</span><a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
          </div>
        {% endif %}
        {% if page.next %}
          <div class="post-next">
            <span>{{ site.data.lang[site.language].post_next }}</span><a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
          </div>
        {% endif %}
      </div>
    </div>
    {% if site.comments %}
      {% include comments.html %}
    {% endif %}
  </div>
</article>
